section {
  &:nth-child(2n + 1) > div {
    @apply max-w-full w-full h-[480px] flex flex-row text-center justify-center gap-3 md:flex-col md:max-h-[780px] md:h-full;
    > div div {
      @apply text-center justify-center items-center my-20;
    }

    img.active {
      @apply h-full max-w-[40%] xl:w-full xl:max-w-full object-cover md:h-[200px] md:object-cover md:max-w-full md:w-full;
    }
  }
  &:nth-child(2n) > div {
    @apply max-w-full flex w-full flex-row-reverse h-[360px] text-left gap-3 md:flex-col md:max-h-[600px] md:h-full;
    > div div {
      @apply text-left justify-start my-20;
    }

    img.active {
      @apply max-w-[30%] xl:max-w-[40%] w-full h-full object-cover md:h-[150px] md:object-cover md:max-w-full md:w-full object-top;
      @media screen and (min-width: 768px) {
        &.revealI {
          transform-origin: right;
          transform: scaleX(0);
          transition: 1s all ease-in-out;
          &.active {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
