@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: "Roboto", sans-serif;
}

section > div,
header,
footer {
  @apply bg-bg-elements overflow-x-hidden;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-2xl;
}

p {
  @apply text-lg;
}

svg {
  @apply fill-white w-8 h-8 bg-black p-[5px] rounded-lg cursor-pointer;
}

button,
.go-button {
  @apply w-[200px] h-14 md:h-10 bg-transparent hover:text-white transition-all border border-[#555658] font-bold rounded-xl relative px-5 pb-2 pt-2;
  background-color: transparent;
  border: 2px solid #5c5c5c;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
button:hover, button:focus,
.go-button:hover,
.go-button:focus {
  color: #fff;
}
button:hover,
.go-button:hover {
  box-shadow: 0 0 40px 40px #5c5c5c inset;
}

section:nth-child(2n+1) > div {
  @apply max-w-full w-full h-[480px] flex flex-row text-center justify-center gap-3 md:flex-col md:max-h-[780px] md:h-full;
}
section:nth-child(2n+1) > div > div div {
  @apply text-center justify-center my-20;
}
section:nth-child(2n+1) > div img.active {
  @apply h-full w-full object-cover md:h-[200px] md:object-cover md:max-w-full md:w-full;
}
section:nth-child(2n) > div {
  @apply max-w-full flex w-full flex-row-reverse h-[360px] text-left gap-3 md:flex-col md:max-h-[500px] md:h-full;
}
section:nth-child(2n) > div > div div {
  @apply text-left justify-start my-20;
}
section:nth-child(2n) > div button {
  @apply hidden;
}
section:nth-child(2n) > div img.active {
  @apply max-w-[60%] h-full object-cover md:h-[150px] md:object-cover md:max-w-full md:w-full;
}
@media screen and (min-width: 768px) {
  section:nth-child(2n) > div img.active.revealI {
    transform-origin: right;
    transform: scaleX(0);
    transition: 1s all ease-in-out;
  }
  section:nth-child(2n) > div img.active.revealI.active {
    transform: scaleX(1);
  }
}

#stack > div > div {
  @apply flex flex-col items-center gap-4 cursor-pointer;
}
#stack > div > div img {
  @apply w-20 h-20;
}
#stack > div > div:hover p {
  @apply decoration-white underline;
}

header > div {
  animation: header 1.5s ease-in-out backwards;
}

@keyframes header {
  0% {
    position: relative;
    left: -100%;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0%;
    opacity: 1;
  }
}
.reveal {
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease-in-out;
}
.reveal.active {
  transform: translateX(0);
  opacity: 1;
}
.reveal:nth-child(2n) {
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease-in-out;
}
.reveal:nth-child(2n).active {
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .revealI {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .revealI.active {
    transform: scaleY(1);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .revealI {
    transform-origin: left;
    transform: scaleX(0);
    transition: 1s all ease-in-out;
  }
  .revealI.active {
    transform: scaleX(1);
  }
  .revealI:nth-child(2n) {
    transform-origin: right;
    transform: scaleX(0);
    transition: 1s all ease-in-out;
  }
  .revealI:nth-child(2n).active {
    transform: scaleX(1);
  }
}
@media screen and (min-width: 540px) {
  .revealT {
    transform: translateY(-150px);
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .revealT.active {
    transform: translateY(0);
    opacity: 1;
  }
  .revealT:nth-child(2n) {
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .revealT:nth-child(2n).active {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (max-width: 540px) {
  .revealT {
    transform: translateX(-150px);
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .revealT.active {
    transform: translateX(0);
    opacity: 1;
  }
  .revealT:nth-child(2n) {
    transform: translateX(150px);
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .revealT:nth-child(2n).active {
    transform: translateX(0);
    opacity: 1;
  }
}
.MuiFormLabel-root {
  color: white;
}/*# sourceMappingURL=index.css.map */